{% extends "main/base.html" %}  <!-- Ensure this extends your project's base template -->

{% block content %}
<div class="bg-gradient-to-tr from-gray-900 to-gray-700 h-screen w-full flex justify-center items-center">
    <div class="bg-gray-800 w-full sm:w-1/2 md:w-9/12 lg:w-1/2 shadow-md flex flex-col md:flex-row items-center mx-5 sm:m-0 rounded">
      <div class="w-full md:w-1/2 hidden md:flex flex-col justify-center items-center text-white">
        <h1 class="text-3xl">Welcome Back</h1>
        <p class="text-5xl font-extrabold">Sign In!</p>
      </div>
      <div class="bg-white w-full md:w-1/2 flex flex-col items-center py-12 px-8">
        <h3 class="text-3xl font-bold text-gray-900 mb-4">
          LOGIN
        </h3>
        <form method="post" action="{% url 'login' %}" class="w-full flex flex-col justify-center">
          {% csrf_token %}
          <div class="mb-4">
            <input type="text" name="username" placeholder="Username" class="w-full p-3 rounded border placeholder-gray-500 focus:outline-none focus:border-gray-900" required />
          </div>
          <div class="mb-4">
            <input type="password" name="password" placeholder="Password" class="w-full p-3 rounded border placeholder-gray-500 focus:outline-none focus:border-gray-900" required />
          </div>
          <button type="submit" class="bg-gray-900 font-bold text-white focus:outline-none rounded p-3 mt-4">
            Sign In
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
