{% extends "main/base.html" %}

{% block content %}
<section class="hero is-fullheight bg-gradient-to-tr from-gray-900 to-gray-700">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable">
                <div class="column is-two-thirds has-text-left" style="color: #f5f5f5;">
                    <h1 class="title is-1">Register</h1>
                    <p class="is-size-4">Join our community and create free notes</p>
                </div>
                <div class="column is-one-third has-text-left">
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        <div class="field">
                            <label class="label">Username</label>
                            <div class="control">
                                <input class="input is-medium {% if form.username.errors %}is-danger{% endif %}" type="text" name="username" placeholder="Your Username" required>
                            </div>
                            {% for error in form.username.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <input class="input is-medium {% if form.email.errors %}is-danger{% endif %}" type="email" name="email" placeholder="Your Email" required>
                            </div>
                            {% for error in form.email.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="field">
                            <label class="label">Password</label>
                            <div class="control">
                                <input class="input is-medium {% if form.password1.errors %}is-danger{% endif %}" type="password" name="password1" placeholder="Password" required>
                            </div>
                            {% for error in form.password1.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="field">
                            <label class="label">Confirm Password</label>
                            <div class="control">
                                <input class="input is-medium {% if form.password2.errors %}is-danger{% endif %}" type="password" name="password2" placeholder="Confirm Password" required>
                            </div>
                            {% for error in form.password2.errors %}
                                <p class="help is-danger">{{ error }}</p>
                            {% endfor %}
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-black is-fullwidth has-text-weight-medium is-medium">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
